body
{
	text-align: center;
	background-color: #8DF7BF;
}
#nameR
{
	font-size: 36px;
	font-family: cursive;
}
#username
{
	font-size: 24px;
	font-family: tahoma;
	text-transform: uppercase;
	opacity: 0.3;
}
#userid
{
	font-size: 24px;
	font-family: tahoma;
	opacity: 0.3;
}
#password
{
	font-size: 24px;
	font-family: tahoma;
	opacity: 0.3;
}
#checkbox
{
	height: 26px;
	width: 26px;
	opacity: 0.4;
}
#login
{
	position: relative;
    background-color: #FFAB91;
    border: none;
    font-size:24px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    font-family: sans-serif;
}